# Development-related dependencies (for building, running tests, etc.)
#
# Unlike most requirements.txt files, this is not a frozen list of exact
# dependencies (a.k.a. a lock file). Instead, it specifies:
# - Direct dependencies only.
# - Package names and valid version *ranges*
#
# It only exists to keep the list of dependencies in a separate file from
# setup.py.
coverage ~=7.2
flake8 ~=5.0.4
pytest ~=8.3.3
