# Dependencies!
#
# Unlike most requirements.txt files, this is not a frozen list of exact
# dependencies (a.k.a. a lock file). Instead, it specifies:
# - Direct dependencies only.
# - Package names and valid version *ranges*
#
# It only exists to keep the list of dependencies in a separate file from
# setup.py.
beautifulsoup4 >=4.9.0,<5
fast_diff_match_patch >=2.0.1,<3
html5-parser >=0.4.0,<0.5 --no-binary lxml
lxml >=4.5.0,<6
