# Development-related dependencies (for building, running tests, etc.)
#
# Unlike most requirements.txt files, this is not a frozen list of exact
# dependencies (a.k.a. a lock file). Instead, it specifies:
# - Direct dependencies only.
# - Package names and valid version *ranges*
#
# It only exists to keep the list of dependencies in a separate file from
# setup.py.
coverage ~=6.4
flake8 ~=4.0.1
pytest ~=7.1.2
ipython ~=7.34.0
numpydoc ~=1.4
sphinx ~=5.0.2
sphinx-copybutton ~=0.5.0
sphinx_rtd_theme ~=1.0.0
