# Dependencies for the HTTP server.
#
# Unlike most requirements.txt files, this is not a frozen list of exact
# dependencies (a.k.a. a lock file). Instead, it specifies:
# - Direct dependencies only.
# - Package names and valid version *ranges*
#
# It only exists to keep the list of dependencies in a separate file from
# setup.py.
chardet >=5.0.0,<6
pycurl >=7.43,<8
sentry-sdk >=1.0.0,<2.0
tornado >=6.0.0,<7
