# Development-related dependencies (for building, running tests, etc.)
#
# Unlike most requirements.txt files, this is not a frozen list of exact
# dependencies (a.k.a. a lock file). Instead, it specifies:
# - Direct dependencies only.
# - Package names and valid version *ranges*
#
# It only exists to keep the list of dependencies in a separate file from
# setup.py.
coverage ~=6.5
flake8 ~=6.0.0
pytest ~=7.2.0
