# Experimental Dependencies
#
# These packages provide more experimental, optional diffing algorithms that
# are not publicly available (or not up-to-date) on PyPI. Because they can't be
# installed from a public package index, you'll need to use pip or or your local
# package manager of choice to install them if you want them to be available:
#
#     pip install -r requirements-experimental.txt
#
htmldiffer @ git+https://github.com/anastasia/htmldiffer@develop
html-tree-diff @ git+https://github.com/danielballan/htmltreediff@customize
